$border: 1px solid #eee;

.card {
  background-color: #ffffff;
  border: $border;
  border-radius: 5px;

  height: 100%;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .card-title {
    margin:0;
    font-weight:lighter;
    font-size:1.8rem;
  }

  .card-header {
    position: relative;
    padding: 1rem 1.5rem;
    border-bottom: $border;
  }
  .card-body {
    padding: 1rem 1.5rem;
    height: 100%;
  }
  .card-footer {
    padding: 1rem 1.5rem;
    border-top: $border;
  }
}

.notifications {
  top: 1.5rem !important;
  right: 1.5rem !important;

  .vue-notification-template {
    padding: 0.8rem 1rem;
  }


  .notification-title {
    font-size: 1rem;
    margin-bottom:0.4rem;
    font-weight:lighter;
  }

  .notification-content {
    font-size: 0.9rem;
  }
}
