form {

    .form-group {
        display: block;
        margin-bottom: 10px;
        margin-top:10px;

        .error-message {
            color: rgb(196, 0, 0);
            display: block;
        }

        input {
            height: 32px;
        }

        input, textarea {
            padding: 6px;
            border-radius: 6px;
            border:1px solid #ccc;
            font-size: 1rem;
            line-height: 1;
            color: $secondary-text;

            &:not([type="checkbox"]):focus {
                outline: none;
                box-shadow: 0 0 1px 1px cadetblue;
            }

            &.form-control {  
                width: 100%;
            }
        }

        &.checkbox-holder {
            position: relative;

            input + input {
                margin-left:5px;
            }

            input {
                position: relative;
                margin: 0;
                height: 32px;
                width: 32px;

                &:after {
                    content: '';
                    
                    background-color: white;
                    border:1px solid #aaa;
                    border-radius:6px;
                    
                    position: absolute;
                    top: 0;
                    bottom:0;
                    left: 0;
                    right:0;
                    width: 100%;
                    height:100%;

                    transition: all .02s cubic-bezier(0.075, 0.82, 0.165, 1);
                }

                &:checked:after {
                    font-size: 30px;
                    font-family: monospace;
                    content: '•'; // &bull;
                    
                    color: white;
                    background-color: cadetblue;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }


        & + .form-group {
            margin-top:25px;
        }
        
        label {
            display: block;
            font-weight:bolder;
            margin-bottom: 6px;
        }
    }

    button[type="submit"] {
        border-color: transparent;
        border-radius: 6px;
        padding: 10px 16px;
        font-weight: lighter;
        color: white;
        font-size: 20px;
        background-color: cadetblue;
        box-shadow: 0px 2px 1px 0px rgba(39,102,104, 0.9);

        &:hover {
            cursor:pointer;
        }
        &:focus {
            outline: 0;
        }
        &:active {
            outline: 0;
            box-shadow: 0px 1px 0.5px 0px rgba(39,102,104, 0.7);
        }

        &.disabled {
            background-color: grey;
            box-shadow: 0px 2px 1px 0px rgba(0,0,0, 0.9);
        }
    }
}